<div class="container-fluid">
	<div class="row" ng-repeat="question in questions | orderBy:'question.number'" ng-if="$index==question_no">
		<div class="col-md-1"></div>
		<div class="col-md-9">
		<h1>{{question.question}}</h1>
		<div class="form-group">
		<ol type="A">
			<li ng-repeat="option in question.options" style="
    font-size: x-large;">{{option}}</li>
		</ol>
		</div>
		
		</div>
		<div class="col-md-2"><h4>Responses: {{count}}</h4></div>
	</div>
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8"><button class="btn btn-primary" ng-click="next()">Next Question</button></div>
		<div class="col-md-2"><div><h4>Connected users: {{users}}</h4></div></div>
	</div>
	



</div>